<section id="quienes-somos" class="quienes-somos">
  <h2 class="quienes-somos_title">QUIÉNES SOMOS</h2>
  <article class="article">
    <img
      src="./assets/images/lara-chaouen.png"
      alt="viajeras"
      class="personal_picture picture1"
    />
    <div class="text_container">
      <h4 class="names names1">Lara R. Poblet</h4>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error esse
        tenetur laboriosam veniam ducimus nulla suscipit quibusdam, atque
        fugiat, dolorum, sequi non. Dolore est quibusdam possimus aliquam fugit
        a unde.
      </p>
      <ul class="list_ul">
        <li class="list_ul_li">
          <a href="https://twitter.com/lrpoblet" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="https://github.com/Lrpoblet" target="_blank"></a
          ><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="mailto:lrpoblet@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i
          ></a>
        </li>
      </ul>
    </div>
  </article>

  <article class="article">
    <img
      src="./assets/images/japon-nina.jpeg"
      alt="viajeras"
      class="personal_picture picture2"
    />
    <div class="text_container_right">
      <h4 class="names">Nina Wang</h4>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error esse
        tenetur laboriosam veniam ducimus nulla suscipit quibusdam, atque
        fugiat, dolorum, sequi non. Dolore est quibusdam possimus aliquam fugit
        a unde.
      </p>
      <ul class="list_ul">
        <li class="list_ul_li">
          <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"></a
          ><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>

  <article class="article">
    <img
      src="./assets/images/peru-tatiana.jpeg"
      alt="viajeras"
      class="personal_picture picture1"
    />
    <div class="text_container">
      <h4 class="names names1">Tatiana Arango</h4>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error esse
        tenetur laboriosam veniam ducimus nulla suscipit quibusdam, atque
        fugiat, dolorum, sequi non. Dolore est quibusdam possimus aliquam fugit
        a unde.
      </p>
      <ul class="list_ul">
        <li class="list_ul_li">
          <a href="https://twitter.com/TatianaArangoCa" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="https://www.linkedin.com/in/tatianaarango/" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"></a
          ><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>

  <article class="article">
    <img
      src="./assets/images/tailandia-ana.jpg"
      alt="viajeras"
      class="personal_picture picture2"
    />
    <div class="text_container_right">
      <h4 class="names names2">Ana Bollain</h4>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error esse
        tenetur laboriosam veniam ducimus nulla suscipit quibusdam, atque
        fugiat, dolorum, sequi non. Dolore est quibusdam possimus aliquam fugit
        a unde.
      </p>
      <ul class="list_ul">
        <li class="list_ul_li">
          <a href="https://twitter.com/ana_bollain" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a
            href="https://www.linkedin.com/in/ana-bollain-zubizarreta-5356a584/"
            target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"></a
          ><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
  <article class="article">
    <img
      src="./assets/images/atenas_ali.jpg"
      alt="viajeras"
      class="personal_picture picture1"
    />
    <div class="text_container">
      <h4 class="names">Alicia Ripoll</h4>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error esse
        tenetur laboriosam veniam ducimus nulla suscipit quibusdam, atque
        fugiat, dolorum, sequi non. Dolore est quibusdam possimus aliquam fugit
        a unde.
      </p>
      <ul class="list_ul">
        <li class="list_ul_li">
          <a href="https://twitter.com/aliripoll" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="https://github.com/Aliripoll" target="_blank"
            ><i class="fa-brands fa-github-alt"></i
          ></a>
        </li>
        <li class="list_ul_li">
          <a href="mailto:aripollortega@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i
          ></a>
        </li>
      </ul>
    </div>
  </article>
</section>
