<section id="quienes-somos" class="quienes-somos">
  <h2 class="quienes-somos_title">QUIÉNES SOMOS</h2>
  <article class="article">
    <img src="./assets/images/lara-chaouen.png" alt="viajeras" class="personal_picture picture_left" />
    <div class="text_container_left">
      <h4 class="names names1">Lara R. Poblet</h4>
      <p class="main-p">
        Soy Lara, graduada en trabajo social y futura desarrolladora web. Entre mis talentos puedo destacar mi capacidad
        de observación y adaptación, el placer del proceso de aprender, el trabajo en equipo y mi alto grado de
        compromiso y perseverancia en todo lo que me embarco. Me fascina el mundo tecnológico y estoy preparada para
        esta aventura Adalaber.
      </p>
      <ul class="list_ul list_left">
        <li class="list_ul_li">
          <a href="https://twitter.com/lrpoblet" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="https://github.com/Lrpoblet" target="_blank"></a><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="mailto:lrpoblet@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>

  <article class="article">
    <img src="./assets/images/japon-nina.jpeg" alt="viajeras" class="personal_picture picture_right" />
    <div class="text_container_right">
      <h4 class="names">Nina Wang</h4>
      <p class="main-p">
        Soy Nina, una fotógrafa brasileña ubicada en Madrid. También soy UX/UI
        Designer de formación y mis experiencias me han permitido participar en
        proyectos donde he podido abordar todas las fases del proceso de diseño
        y conocer un poco del universo de la programación. Me considero una
        entusiasta del detalle, el buen gusto y todo aquello que consiga
        reavivar mis sentidos. Me fascina viajar, la música, la gastronomía y
        conocer todo tipo de culturas; creo que es la mejor forma de
        enriquecerme personal y profesionalmente.
      </p>
      <ul class="list_ul list_right">
        <li class="list_ul_li">
          <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"></a><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>

  <article class="article">
    <img src="./assets/images/peru-tatiana.jpeg" alt="viajeras" class="personal_picture picture_left" />
    <div class="text_container_left">
      <h4 class="names names1">Tatiana Arango</h4>
      <p class="main-p">
        Soy educadora infantil de profesión, mamá, esposa, y ahora una Adalaber,
        en definitiva una persona motivada y curiosa por aprender. Toda mi
        experiencia me ha permitido desarrollar habilidades como la adaptación a
        los cambios, la autogestión, y la planificación. Me apasiona la
        tecnología y cómo desde la creación de códigos podemos implementar
        mejoras a la productividad empresarial o la experiencia de los usuarios.
      </p>
      <ul class="list_ul list_left">
        <li class="list_ul_li">
          <a href="https://twitter.com/TatianaArangoCa" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="https://www.linkedin.com/in/tatianaarango/" target="_blank"><i
              class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"></a><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>

  <article class="article">
    <img src="./assets/images/tailandia-ana.jpg" alt="viajeras" class="personal_picture picture_right" />
    <div class="text_container_right">
      <h4 class="names names2">Ana Bollain</h4>
      <p class="main-p">
        Soy Ana, arquitecta e interiorista hasta el momento, me encanta aprender y enfrentarme a nuevos desafíos.
        Entusiasmada en esta nueva etapa como Adalaber, rodeada de gente excepcional, estoy deseando aportar mis
        conocimientos y seguir descubriendo el maravilloso mundo de la tecnología.
      </p>
      <ul class="list_ul list_right">
        <li class="list_ul_li">
          <a href="https://twitter.com/ana_bollain" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="https://www.linkedin.com/in/ana-bollain-zubizarreta-5356a584/" target="_blank"><i
              class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"></a><i class="fa-brands fa-github-alt"></i>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"> <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
  <article class="article">
    <img src="./assets/images/ali-grecia.jpg" alt="viajeras" class="personal_picture picture_left" />
    <div class="text_container_left">
      <h4 class="names">Alicia Ripoll</h4>
      <p class="main-p">
        Soy Alicia, estudié Magisterio de Primaria y me dispongo a dar un cambio a nivel laboral hacia el mundo tech. Me
        encanta disfrutar de las cosas bonitas de la vida junto a las personas que quiero, y cada día intento tener muy
        presente la frase “un día sin reír es un día perdido”. Estoy lista para esta nueva aventura en mi vida:
        convertirme en Adalaber.
      </p>
      <ul class="list_ul list_left">
        <li class="list_ul_li">
          <a href="https://twitter.com/aliripoll" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="https://github.com/Aliripoll" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li class="list_ul_li">
          <a href="mailto:aripollortega@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
</section>