<main class="main">
    <img title="" src="./assets/images/cabecera_contacto_cropped.jpg" alt="" class="contact-image">
    <div class="content-contact">
        <div class="intro">
            <h2 class="title-contact">Contacto</h2>
            <p class="text-contact">Puedes rellenar nuestro formulario online para
                enviar un mensaje a nuestro equipo Adatravellers.
            </p>
            <small class="req">Todos los campos marcados con <span class="ast">*</span> son obligatorios.</small>
        </div>
    </div>
    <form action="https://adalab-server-form.herokuapp.com/" method="" class="form">
        <div class="form__contact">
            <label class="form__contact--label" for="text">Nombre completo <span class="ast">*</span></label>
            <input class="form__contact--input" type="text" id="text" name="text" placeholder="Nombre..." required>
        </div>
        <div class="form__contact">
            <label class="form__contact--label " for="email">Email <span class="ast">*</span></label>
            <input class="form__contact--input " type="email" id="email" name="email"
                placeholder="nombre.apellidos@mail.com" required />
        </div>
        <div class="form__contact">
            <label class="form__contact--label " for="tel"> Teléfono</label>
            <input class="form__contact--input " type="tel" id="tel" name="tel" pattern="^[0-9]{9}$"
                placeholder="Ej: 123456789" />
        </div>
        <div class="form__contact">
            <label class="form__contact--label" for="comment">Mensaje <span class="ast">*</span></label>
            <textarea class="comment" name="comment" rows="5" cols="70" placeholder="¿Qué necesitas?"
                required></textarea>
            <input class="form__contact--btn" type="submit" value="Enviar">
        </div>

    </form>
</main>