<section id="equipo" class="contenedor-equipo">
    <div class="equipo">
      <h2 class="equipo-title">Equipo</h2>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, magni
        accusantium. Temporibus ipsa, quaerat dolor ut minima debitis rem!
        Ipsam explicabo iste nisi tempore distinctio recusandae ipsum
        consectetur earum fugit?
      </p>
      <p class="main-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        fuga culpa qui, possimus distinctio error sapiente expedita?
        Suscipit voluptatum autem a odit qui dolore, maxime assumenda error
        eligendi dolor neque?
      </p>
    </div>
  </section>
  <section class="contenedor-fortalezas-debilidades">
    <div class="white-square"></div>
    <div class="fortalezas-debilidades">
      <article class="fortalezas">
        <h3 class="fort-deb-title">Fortalezas</h3>
        <p class="main-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit,
          dignissimos iure! Perspiciatis quasi neque error distinctio
          dolorum! Ducimus eius, quasi ut maiores quae beatae modi, quod
          obcaecati consequuntur, eligendi quia.
        </p>
      </article>
      <article class="debilidades">
        <h3 class="fort-deb-title">Debilidades</h3>
        <p class="main-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit,
          dignissimos iure! Perspiciatis quasi neque error distinctio
          dolorum! Ducimus eius, quasi ut maiores quae beatae modi, quod
          obcaecati consequuntur, eligendi quia.
        </p>
      </article>
    </div>
  </section>