<section id="equipo" class="contenedor-equipo">
    <div class="equipo">
      <h2 class="equipo-title">Equipo</h2>
      <p class="main-p">
        Apasionadas por el viaje y la fotografía, nos gusta conocer diferentes lugares del mundo con una cámara en mano. Juntas, hemos emprendido uno de los viajes más importantes hasta el momento: convertirnos en programadoras Front-end. 
      </p>
      <p class="main-p">
        Somos un equipo de mujeres multidisciplinario con un sueño en común, y es tener la capacidad y conocimientos para aportar en el área de la tecnología; trabajando por incrementar la representación femenina en el sector bajo una filosofía común: <span class="main-p-text">Viaja, come, duerme y... ¡programa!</span>
      </p>
    </div>
  </section>
  <section class="contenedor-fortalezas-debilidades">
    <div class="white-square"></div>
    <div class="fortalezas-debilidades">
      <article class="fortalezas">
        <h3 class="fort-deb-title">Fortalezas</h3>
        <p class="main-p">
          La flexibilidad, la adaptación al cambio y las ganas de aprender son cualidades que todas compartimos. Nuestra actitud colaborativa y empatía en este nuevo camino es nuestra mayor fortaleza, gracias a la cual estamos creciendo juntas tanto emocional como profesionalmente. 
        </p>
      </article>
      <article class="debilidades">
        <h3 class="fort-deb-title">Debilidades</h3>
        <p class="main-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit,
          dignissimos iure! Perspiciatis quasi neque error distinctio
          dolorum! Ducimus eius, quasi ut maiores quae beatae modi, quod
          obcaecati consequuntur, eligendi quia.
        </p>
      </article>
    </div>
  </section>