:root {
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --background-color-fortalezas: rgba(237, 230, 223, 0.9);
  --black-8: rgba(0, 0, 0, 0.08);
  --grey-2: rgba(84, 88, 90, 0.67);
  --grey-1: #54585a;
  --aqua: #91937c;
  --blue-green: #59634a;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --rubik: "Rubik", sans-serif;
  --uppercase: uppercase;
  --color-title: #cd844f;
  --dark-green: #59634a;
  --dark-brown: #824f34;
}

@mixin title-section {
  color: var(--color-title);
  font-family: var(--rubik);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.5rem;
  text-transform: var(--uppercase);
}

@mixin par-section {
  color: var(--grey-1);
  font-size: 1.6rem;
  line-height: 2.4rem;
}
