/*QUIÉNES SOMOS*/
.quienes-somos {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4.5rem;
  gap: 4rem;
}

.quienes-somos_title {
  @include title-section;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.text_container_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.text_container_right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.names {
  color: var(--dark-green);
  font-size: 2rem;
  line-height: 4.5rem;
}

.personal_picture {
  width: 16rem;
  height: 18rem;
  background-color: white;
  border: 1px solid #bfbfbf;
  box-shadow: 10px 10px 30px rgba(72, 47, 22, 0.8);
  padding: 10px 10px 45px 10px;
}

.list_ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.list_ul_li {
  display: flex;
  margin: 1rem;
}
.list_ul_li:not(:last-child):after {
  content: "·";
  font-size: 2rem;
  color: var(--dark-green);
  margin: 0 auto;
  transform: translate(170%, -20%);
}

.fa-brands,
.fa-solid {
  color: var(--blue-green);
  font-size: 1.6rem;

  &:hover {
    color: var(--color-title-sec);
  }
}

@media (min-width: 768px) {
  .quienes-somos {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    gap: 6rem;
  }
  .article {
    gap: 3.1rem;
    flex-direction: row;
    align-items: flex-start;
  }
  .text_container_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .text_container_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .personal_picture {
    width: 17.6rem;
    height: 20.3rem;
  }
  .picture_right {
    order: 1;
  }
}
@media (min-width: 1200px) {
  .quienes-somos {
    padding-left: 13.8rem;
    padding-right: 13.8rem;
  }
  .personal_picture {
    width: 23rem;
    height: 25.8rem;
    padding: 15px 15px 55px 15px;
  }
}
