.adatravellers-header{
    background-color: var(--dark-green);
    opacity: 0.9;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adatravellers-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adatraveller-title{
    font-family: var(--rubik);
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;    
}

.adatraveller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.adatraveller-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adatraveller-frame-image {
    width: 20rem;
    height: 26rem;
    background-color: white;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
    box-shadow: 10px 10px 30px rgba(72, 47, 22, 0.8);
    object-fit: cover;
    object-position: center;
}

.adatraveller-frame-text {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    font-family: var(--rubik);
    color: var(--dark-green);
    font-weight: 500;
    font-size: 1.6rem;
}

.adatravellers {
    display: none;
}


/*MEDIA QUERIES FOR TABLET*/

@media (min-width: 768px){
    .adatraveller {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 6rem;
    }

}

/*MEDIA QUERIES FOR DESKTOP*/

@media (min-width: 1200px){

.adatravellers-header{
    display: none;
}

.adatraveller{
    display: none;
}

.adatravellers{
    display: block;
    /*background-color: var(--dark-brown);*/
    height: 100vh;
}

.adatravellers-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

}