.content-contact {
  padding: 0 15px;
}

.contact-image {
  height: 300px;
  width: 100%;
  padding: 0;
}
.intro {
  padding: 3rem 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-contact {
  color: var(--grey-1);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.5rem;
  text-align: center;
  padding: 0 2rem;
}

.req {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 5.8rem;
}

.title-contact {
  @include title-section;
}

.ast {
  font-size: 1.2rem;
  color: var(--aqua);
}

.comment {
  width: 100%;
}
