/* LEMA*/

.contenedor-lema {
  background-image: url("../images/viajesyfotografia1.jpg");
  align-items: center;
  max-width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.texto-lema {
  visibility: hidden;
}
