/* EQUIPO*/

.equipo {
    margin: 7rem 3rem 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    row-gap: 2rem;
    text-align: center;
  }
  
  .equipo-title {
    @include title-section;
  }
  
  .main-p {
    @include par-section;
  }
  
  .main-p-text {
    font-style: italic;
    display: inline-block;
    width: 100%;
    padding-top: 2rem;
    animation: fade 3s infinite alternate-reverse;
  }

  @keyframes fade {
    0% {
      color: #59634a;
    }
    25% {
      color: #80989c;
    }
    50% {
      color: #cd844f;
    }
    75% {
      color: #824f34;
    }
    100% {
      color: #ede6df;
    }
  }

  /* FORTALEZAS-DEBILIDADES*/

  .contenedor-fortalezas-debilidades {
    background-color: var(--background-color-fortalezas);
    position: relative;
    overflow: hidden;
  }
  
  .white-square {
    background-color: white;
    width: 3rem;
    height: 3rem;
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .fortalezas-debilidades {
    margin: 0 3rem 3rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
  
  .fort-deb-title {
    @include title-section-sec;
    padding-bottom: 0.5rem;
  }

  /*MEDIA QUERIES FOR TABLET*/

  @media (min-width: 768px) {

  .equipo {
    margin: 4.5rem 4.5rem 5rem 4.5rem;
  }

  .equipo .main-p {
    color: var(--grey-2);
  }

  .fortalezas-debilidades {
    margin: 0 4.5rem;
    flex-direction: row;
    justify-content: center;
    gap: 4.5rem;
    padding-bottom: 5rem;
  }

  .fortalezas{
    width: 450px;
  }

  .debilidades{
    width: 450px;
  }

  .fort-deb-title {
    padding-bottom: 1.5rem;
  }
}

/*MEDIA QUERIES FOR DESKTOP*/

@media (min-width: 1200px) {
  
  .equipo {
    margin-left: 30rem;
    margin-right: 30rem;
  }

  .fortalezas-debilidades {
    margin-right: 13.9rem;
    margin-left: 13.9rem;
    gap: 10rem;
  }
}