/* FOOTER */
.footer {
  text-align: center;
  border-top: solid 1px var(--cool-grey);
  height: 25rem;
  padding: 3rem 7.4rem 4.5rem;
}

.copyright {
  color: var(--cool-grey);
  font-size: 1.4rem;
  /* height: 2rem; */
  margin: 0 0 2rem;
  line-height: 1.43;
}

.menu-li-footer {
  margin: 2rem 2.9rem 3rem;
  line-height: 2rem;
  text-transform: var(--uppercase);
}

.list-li-footer {
  list-style: none;
}

.enlace-footer {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--grey-1);
  opacity: 0.75;
}

.enlace-footer:hover {
  color: var(--cool-grey);
}

.logo {
  height: 4.5rem;
  width: 11.59rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 2.4rem 4.5rem 5.6rem;
    text-align: left;
    height: 17rem;
  }

  .menu-li-footer {
    margin: 0;
    width: 50%;
    height: 9rem;
    text-align: right;
    position: absolute;
    right: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
  }

  .copyright {
    padding-top: 0.6rem;
    letter-spacing: normal;
    position: absolute;
    /* line-height: 1.43;
      width: 17.2rem; */
  }

  .logo {
    position: relative;
    top: 4.1rem;
    margin-bottom: 0.4rem;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 2.4rem 13.8rem 4.7rem;
  }

  // .menu-li-footer {
  //   position: relative;

  // width: 50%;
  // height: 9rem;
  // text-align: right;
  // position: absolute;
  // right: 4.5rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
