@import "core/variables";
@import "core/reset";
@import "components/scroll";
@import "layout/header";
@import "layout/lema";
@import "layout/equipo";
@import "layout/aboutus";
@import "layout/footer";
@import "layout/contact";
@import "layout/adatravellers";

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  background-color: #fff;
}
